DOC To PDF API/n8n/Convert Power Point Presentation to PDF/Convert Power Point Presentation to PDF.json
{
  "name": "Convert Power Point Presentation to PDF",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM",
          "mode": "list",
          "cachedResultName": "N8N Tester",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "application/vnd.google-apps.presentation"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0d530b13-0fad-4fe7-94d5-d70dc7ce0042",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "okhwRrIGuWPXsWr2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Convert to PDF",
        "url": "={{ $json.webViewLink }}",
        "advancedOptionsCommon": {
          "name": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "3bb67f23-ec91-4388-b681-63101dd9b51b",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "ocdD6ve3WcWZTv2i",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "df876e90-4370-408b-8d68-e33ff5e211e1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xivfGZK2sj0fgWdKk8eJnf_tjncTL5GB",
          "mode": "list",
          "cachedResultName": "Output File",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xivfGZK2sj0fgWdKk8eJnf_tjncTL5GB"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "0da4de39-34f0-4b5a-a99f-d2f7fa19db2e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "okhwRrIGuWPXsWr2",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db52b5f6-92f9-419f-adc1-3541121faa1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcf113dccf0c95dadd6d39f55cfad8f198602dfb0ccf7915c195cdaac914634d"
  },
  "id": "GKJMl61dSimDndXC",
  "tags": []
}