PDF Make Searchable API/n8n/Automate OCR and Document Type Detection for Scanned PDFs/Automate OCR and Document Type Detection for Scanned PDFs.json
{
  "name": "Automate OCR and Document Type Detection for Scanned PDFs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM",
          "mode": "list",
          "cachedResultName": "N8N Tester",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "080ba920-43db-484e-b5de-608764702419",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NoMv72mPDX5qQ6cB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Make PDF Searchable or Unsearchable",
        "url": "={{ $json.webContentLink }}",
        "lang": "eng",
        "advancedOptions": {
          "name": "={{ $json.originalFilename }}"
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "f88c1f40-560c-4162-9c32-04bd2048a78f",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "7EU7cXXgLpZguBBo",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/classifier",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_PDFco_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"rulescsv\": \"Invoice, OR, Invoice Number, Invoice #, INVOICE NO\\nPurchase Order, OR, PO Number, Order Number, Order No\\nBill, OR, Bill Date, Billing Period, Bill Number\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "f164a691-fba6-468f-acb4-14917f89a2ef",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.body.classes[0].class }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM",
            "mode": "list",
            "cachedResultName": "N8N Tester",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "539c35d9-cf28-46f3-9caf-93c18afda472",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NoMv72mPDX5qQ6cB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        0
      ],
      "id": "ee8f6f37-e8bc-4793-8df9-28b2d010eeba",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NoMv72mPDX5qQ6cB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('PDFco Api').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        0
      ],
      "id": "33fec3db-aca9-4a9b-b58f-f59b94027e4c",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78b6b006-a374-44e5-8136-c9de554285de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aceeebc10f4c619c2460a6957e76cc73dba1a1526fdae0180ffbadc4ee50a733"
  },
  "id": "CHTiUlLd3c99moBF",
  "tags": []
}