PDF To CSV API/n8n/Secure Bank Statement Ingestion - PDF to CSV with Auto cleanup/Secure Bank Statement Ingestion.json
{
  "name": "Secure Bank Statement Ingestion",
  "nodes": [
    {
      "parameters": {
        "path": "aa6590a6-26c8-4bbd-a8ec-196c14a2adb3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -672
      ],
      "id": "66bbc010-ff3b-468c-a8e8-6eb7a23bda19",
      "name": "Webhook",
      "webhookId": "aa6590a6-26c8-4bbd-a8ec-196c14a2adb3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        -656
      ],
      "id": "ac51a90d-a51e-47be-b80e-dbdfff5bf3ca",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "Convert from PDF",
        "url": "={{ $('GET - HTTP Request').item.json.url }}",
        "convertType": "toCsv",
        "advancedOptions": {
          "inline": false
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        912,
        -656
      ],
      "id": "8e5f689e-96e8-4911-9974-d942d6113cf8",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "zZjFvmzVMGyDA0vR",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.pdf.co/v1/file/upload/get-presigned-url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "PDFco_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "test.pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -592
      ],
      "id": "42b65e4b-0bb9-4996-a4b4-da15fffe060b",
      "name": "GET - HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.presignedUrl }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -656
      ],
      "id": "5c9f1a7e-ff1e-48f5-b8b3-c967895a17a8",
      "name": "PUT - HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        -656
      ],
      "id": "02356f28-28a8-4bf3-afa2-e53818707d35",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM",
          "mode": "list",
          "cachedResultName": "N8N Tester",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        -656
      ],
      "id": "623d1614-d3fa-4e98-b8d2-6c0bb9d171c5",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zxOQ6tikJzg9aLr5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/file/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "PDFco_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('GET - HTTP Request').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        -656
      ],
      "id": "367c8ebf-1f25-47e0-8613-8273c55b4a07",
      "name": "DELETE INPUT - HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/file/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "PDFco_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('PDFco Api').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        -656
      ],
      "id": "f9d7fc76-5ccf-40f2-8e6b-79c4439c313d",
      "name": "DELETE OUTPUT - HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GET - HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "PUT - HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET - HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PUT - HTTP Request": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "DELETE INPUT - HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE INPUT - HTTP Request": {
      "main": [
        [
          {
            "node": "DELETE OUTPUT - HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcb29e17-7e4d-4c20-abcb-ba186909045b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9ab6a0972e3b34eae499bc9001846178323a1734963ba67f8e09480c2f48c59"
  },
  "id": "mbaqOYvSSMebWwI0",
  "tags": []
}