PDF Classifier/n8n/Automatically Classify and Organize PDFs/Smart File Classification and Storage Management.json
{
  "name": "Smart File Classification and Storage Management",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM",
          "mode": "list",
          "cachedResultName": "N8N Tester",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        -60
      ],
      "id": "ff111cb2-479c-45fb-8117-fc5af8b673ed",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nCL5tpVhf3hGHzEZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.body.classes[0].class }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM",
            "mode": "list",
            "cachedResultName": "N8N Tester",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1F7nJ7E2KdxNyifE2xim-lZ-GZSw2INUM"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        -60
      ],
      "id": "f496bb25-4ef2-4a25-8368-954aab2088ad",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nCL5tpVhf3hGHzEZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        360,
        -60
      ],
      "id": "77b5a918-546b-47fc-8feb-0c0ea05e5485",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nCL5tpVhf3hGHzEZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/classifier",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_PDFco_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"url\": \"{{ $json.webContentLink }}\",\n    \"rulescsv\": \"Amazon AWS, OR, Amazon Web Services Invoice, Amazon CloudFront\\nDigital Ocean, OR,DigitalOcean, DOInvoice\\nACME,OR, ACME Inc.,1540 Long Street\"\n}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -60
      ],
      "id": "cc264a26-8514-4fc6-bc2a-d175376ede3e",
      "name": "PDF.co Document Classifier"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "PDF.co Document Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF.co Document Classifier": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a1ab6cb-4c4b-43da-a9af-ab7130374ba6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5a024e625a43752908dffc5c6e632ba90da265c7940f509839b32671ee64031"
  },
  "id": "BkQhdu4p49loPO7p",
  "tags": []
}