PDF From Excel/n8n/Customer Engagement Summary Spreadsheet to PDF Automation/Customer Engagement Summary Spreadsheet to PDF Automation.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "downloadAttachments": true,
        "options": {
          "customEmailConfig": "[\"UNSEEN\", [\"SUBJECT\", \"Customer Engagement Summary\"]]"
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5ca93457-2b50-4097-903f-f534a497a89c",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "l114abu9aWvgTOsQ",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Upload File to PDF.co",
        "binaryData": true,
        "binaryPropertyName": "attachment_0",
        "name": "={{ $json.subject }}"
      },
      "type": "CUSTOM.PDFco Api",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "eddf287a-381f-4162-a5fe-888e61008407",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "e4rYmqMypBxChuMH",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Convert to PDF",
        "convertType": "fromXlsx",
        "url": "={{ $json.url }}",
        "advancedOptionsCommon": {
          "profiles": "{'std_params': {'autosize': 'true'}}"
        }
      },
      "type": "CUSTOM.PDFco Api",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "67aac84b-1b9e-44e0-9558-59b6525ecd4a",
      "name": "PDFco Api1",
      "credentials": {
        "pdfcoApi": {
          "id": "e4rYmqMypBxChuMH",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "02c2a77a-9d33-4907-bf1d-2be79cfbd952",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KMbseCUfUSai6GT_ZgtdTVffdT6ZYn_o",
          "mode": "list",
          "cachedResultName": "OUTPUT1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KMbseCUfUSai6GT_ZgtdTVffdT6ZYn_o"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "id": "63dc304a-64f2-453e-848b-6ba9651c2c41",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ITkAguzW5WLvpiK5",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "PDFco Api1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7f1606e-8fd5-4842-b435-b0d78f00411a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "126e6b989079117f697f2f8a89051695d5b7a0849f64dba2327caf4001ca0735"
  },
  "id": "EUkMeovsE0FAqiUw",
  "tags": []
}