PDF Delete Pages/n8n/Automatically find and delete pages in mutipaged invoice/Automatically find and delete pages in mutipaged invoice.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "164UYRZdbflmG6ji6Cvkfgs9TdstlKZlL",
          "mode": "list",
          "cachedResultName": "INPUT-1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/164UYRZdbflmG6ji6Cvkfgs9TdstlKZlL"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cc4307dd-7992-4351-b557-2db336203f12",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ITkAguzW5WLvpiK5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=Atlas Office Solutions_Invoices",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KMbseCUfUSai6GT_ZgtdTVffdT6ZYn_o",
          "mode": "list",
          "cachedResultName": "OUTPUT1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KMbseCUfUSai6GT_ZgtdTVffdT6ZYn_o"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1060,
        0
      ],
      "id": "b4b45340-6365-4feb-8228-b5581dd52f59",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ITkAguzW5WLvpiK5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "id": "46fe69ef-1b97-47d0-a14d-51e58b9821a6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "Delete PDF Pages",
        "url": "={{ $('Google Drive Trigger').item.json.webContentLink }}",
        "pages": "={{ $json.pageIndexes }}",
        "advancedOptions": {}
      },
      "type": "CUSTOM.PDFco Api",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "b9164a15-fb7f-47ae-bbf2-e8f21677fb8d",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "e4rYmqMypBxChuMH",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Search in PDF",
        "url": "={{ $json.webContentLink }}",
        "searchString": "Atlas Office Solutions",
        "advancedOptions": {}
      },
      "type": "CUSTOM.PDFco Api",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "bdd5bc17-e385-4779-9a5e-2703d9583687",
      "name": "PDFco Api1",
      "credentials": {
        "pdfcoApi": {
          "id": "e4rYmqMypBxChuMH",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst items = $input.all();\n\n// We assume the body is in the first item (adjust if needed)\nconst body = items[0].json.body || [];\n\n// Extract all pageIndex values\nconst pageIndexes = body.map(entry => entry.pageIndex);\n\n// Sort them if needed\npageIndexes.sort((a, b) => a - b);\n\n// Join them with a dot\nconst joinedIndexes = pageIndexes.join(',');\n\n// Return the result\nreturn [\n  {\n    json: {\n      pageIndexes: joinedIndexes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ],
      "id": "66cd7608-1299-4dae-80bb-696d724dc494",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "PDFco Api1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbc3fc9c-c75e-4f9e-b702-00bf497da1c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "126e6b989079117f697f2f8a89051695d5b7a0849f64dba2327caf4001ca0735"
  },
  "id": "eHNuVV00aRng6P2Z",
  "tags": []
}